cached-property @ file:///tmp/build/80754af9/cached-property_1600785575025/work
certifi==2021.5.30
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1613413856675/work
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1615224146321/work
future @ file:///home/conda/feedstock_root/build_artifacts/future_1610147328086/work
h5py @ file:///home/conda/feedstock_root/build_artifacts/h5py_1617739423465/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1621419064915/work
mappy==2.17
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1621455668064/work
mkl-service==2.3.0
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1610324545699/work
ont-fast5-api==3.3.0
ont-tombo==1.5.1
packaging==20.9
progressbar33==2.4
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pyfaidx @ file:///opt/conda/conda-bld/pyfaidx_1614521783277/work
pyparsing==2.4.7
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1612179539967/work
rpy2 @ file:///home/conda/feedstock_root/build_artifacts/rpy2_1622818589294/work
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy_1604304777848/work
simplegeneric==0.8.1
six @ file:///tmp/build/80754af9/six_1623709665295/work
torch @ file:///home/conda/feedstock_root/build_artifacts/pytorch-recipe_1619039021772/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1623518955413/work
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1611751222202/work
tzlocal @ file:///home/conda/feedstock_root/build_artifacts/tzlocal_1588939190034/work
